.registration-page__form,
.login-page__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.registration-page__form {
  max-width: 100%;
  padding: 0 20px;
}
