.loader {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 100;
  img {
    animation: flash 2.5s linear infinite alternate;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
    scale: 1.1;
  }
  100% {
    opacity: 0.1;
    scale: 1;
  }
}
