.promo-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.message-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media (max-width: 980px) {
  .promo-message {
    flex-direction: column;
  }
}
