@use "../../styles/colors" as colors;

.counter-wrap {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__counter-btn {
    flex-shrink: 0;
    width: 33px;
    height: 38px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    background-color: colors.$main-color;
    color: white;
    user-select: none;
    &:hover {
      cursor: pointer;
      box-shadow: colors.$accent-shadow;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &__counter-value {
    font-size: 1.25rem;
  }
}
