@use "../../styles/colors" as colors;

.basket-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: calc(90vh - 130px);
    padding: 10px;
    background-image: url("../../assets/p404.png");
    background-color: #46a358b3;

    &__text {
      margin-top: 50px;
      padding: 0 20px;
      text-align: center;
      font-size: 2rem;
      color: #fff;
    }

    &__image {
      max-width: 100%;
      max-height: 50%;
    }

    &__button {
      padding: 10px 20px;
      background: #ffffff;
      color: colors.$main-color;
      margin-top: 20px;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      transition: 0.5s ease-in;
      &:hover {
        transition: 0.5s ease-in;
        opacity: 0.7;
      }
    }
  }
}
