@mixin DisplayFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page {
  @include DisplayFlexColumn;

  .main-page__section-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px 0px;
    padding-left: 40px;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.502);

    @media (max-width: 580px) {
      flex-direction: column;
      margin: 20px 0px 0px;
      padding: 10px 10px 0px;
    }

    .main-page__section-welcome_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .section-welcome__greet {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color: rgba(61, 61, 61, 0.7);

        @media (max-width: 768px) {
          margin-top: 10px;
        }
      }

      .section-welcome__title {
        margin: 10px 0px;
        max-width: 530px;
        width: 100%;
        font-size: 70px;
        font-weight: 900;
        line-height: 1;
        color: rgb(61, 61, 61);

        @media (max-width: 1120px) {
          font-size: 50px;
        }

        span {
          color: rgb(70, 163, 88);
        }
      }

      .section-welcome__desc {
        max-width: 530px;
        width: 100%;
        font-size: 14px;
        color: rgb(114, 114, 114);

        @media (max-width: 580px) {
          font-size: 12px;
        }
      }

      .section-welcome__button {
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.5s ease-in;
        color: rgb(255, 255, 255);
        background: rgb(70, 163, 88);
        cursor: pointer;

        @media (max-width: 768px) {
          padding: 8px 12px;
          font-size: 12px;
        }

        &:hover {
          transition: 0.5s ease-in;
          opacity: 0.7;
        }
      }
    }

    .main-page__section-welcome_inner {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        display: block;
        max-width: 450px;
        width: 100%;
      }
    }
  }

  .main-page__section-care {
    @include DisplayFlexColumn;
    margin: 82px 0px 0px;

    .main-page__section-care_title {
      margin: 0px 0px 16px;
      font-family: "Noto Sans", sans-serif;
      font-size: 64px;
      font-weight: 700;
      text-align: center;
      line-height: 1;
      color: rgb(53, 71, 51);

      @media (max-width: 768px) {
        font-size: 44px;
      }

      @media (max-width: 520px) {
        font-size: 33px;
      }

      span {
        color: rgb(138, 155, 110);
      }
    }

    .main-page__section-care_desc {
      max-width: 768px;
      width: 100%;
      font-family: "Noto Sans", sans-serif;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 1.3;
      color: rgb(175, 178, 170);

      @media (max-width: 768px) {
        max-width: 520px;
        font-size: 14px;
      }

      @media (max-width: 520px) {
        max-width: 360px;
        font-size: 12px;
      }
    }
  }

  .section-care__plant,
  .section-care__garden {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 50px;
    margin: 72px 0px;
    width: 100%;

    @media (max-width: 1120px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      margin: 32px 0px 0px;

      .section-care__plant_item:nth-child(3),
      .section-care__garden_item:nth-child(3) {
        grid-column: 1 / -1;
        justify-self: center;
      }
    }

    @media (max-width: 768px) {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
    }

    .section-care__plant_item,
    .section-care__garden_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      max-width: 380px;
      width: 100%;
      text-align: center;

      @media (max-width: 768px) {
        padding: 10px 0px;
      }

      .plant__item_img {
        display: block;
        width: 72px;
        height: 72px;

        @media (max-width: 768px) {
          width: 52px;
          height: 52px;
        }
      }

      .garden__item_img {
        display: block;
        width: 77px;
        height: 77px;
      }

      .plant__item_title,
      .garden__item_title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0px;
        height: 44px;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 1;
        color: rgb(30, 30, 36);

        @media (max-width: 1120px) {
          margin: 10px 0px;
          height: auto;
        }

        @media (max-width: 768px) {
          margin: 20px 0px;
          font-size: 20px;
        }

        @media (max-width: 520px) {
          font-size: 16px;
        }
      }

      .plant__item_desc,
      .garden__item_desc {
        font-size: 16px;
        font-weight: 400;
        color: rgb(175, 178, 170);

        @media (max-width: 768px) {
          font-size: 14px;
        }

        @media (max-width: 520px) {
          font-size: 12px;
        }
      }
    }
  }

  .section-care__garden {
    background-color: rgb(251, 251, 251);

    .section-care__garden_item {
      align-items: flex-start;
      text-align: start;
    }
  }

  .main-page__photo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      max-width: 100%;
      width: 100%;
    }
  }
}
