.input {
  max-width: 100%;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.input_username,
.input_surname,
.input_email,
.input_password,
.input_date {
  margin: 16px 0px 0px;
  padding: 0px 14px 0px 14px;
  border-radius: 5px;
  border: 1px solid rgb(234, 234, 234);
  font-size: 14px;
  line-height: 16px;
  color: rgb(70, 163, 88);
  outline: none;
  transition: all 0.4s ease;

  &::placeholder {
    color: rgb(165, 165, 165);
  }

  &:focus {
    border: 1px solid rgb(70, 163, 88);
  }

  &:hover {
    border: 1px solid rgb(70, 163, 88);
  }
}
