.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  min-height: 100vh;

  .login-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 5px rgba(70, 163, 88, 0.5);

    .login-page__content_title {
      margin: 0px 0px 40px;
      font-size: 20px;
      font-weight: 700;
      line-height: 16px;
      color: rgb(70, 163, 88);
    }

    .login-page__content_description {
      max-width: 300px;
      width: 100%;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      text-align: left;
    }

    .login-page__content_sing-up {
      max-width: 300px;
      width: 100%;
      text-align: right;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: rgb(70, 163, 88);
    }
  }
}
