.userProfile-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  max-width: 100%;
  width: 100%;

  .wrapper__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .wrapper__content_title {
      padding: 10px;
      font-family: "Noto Sans", sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 16px;
      color: rgb(61, 61, 61);
    }
  }
}
